Wind Power Generation Forcasting

In [5]:
pip install pandas numpy scikit-learn matplotlib seaborn

Requirement already satisfied: pandas in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (2.2.4)
Requirement already satisfied: scikit-learn in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (1.6.1)
Requirement already satisfied: matplotlib in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (3.10.1)
Requirement already satisfied: seaborn in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\users\akame\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
 #importing all necessary libraries
import pandas as pd #data manipulation
import numpy as np #numerical python - linear algebra
import matplotlib.pyplot as plt #visualization lib
import seaborn as sns
from sklearn.model_selection import train_test_split #sklearn-ML
from sklearn.preprocessing import StandardScaler #scaling

In [7]:
#Load the csv (Dataset) files
location1 = pd.read_csv('Location1[1].csv')
location2 = pd.read_csv('Location2[1].csv')
location3 = pd.read_csv('Location3[1].csv')
location4 = pd.read_csv('Location4[1].csv')

In [8]:
#see the Location 1
location1.head() #show you top 5 rows

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power
0,2017-01-02 00:00:00,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635
1,2017-01-02 01:00:00,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424
2,2017-01-02 02:00:00,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214
3,2017-01-02 03:00:00,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003
4,2017-01-02 04:00:00,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793

In [9]:
#see the Location 4
location4.head(20) #show you top 20 rows

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power
0,2017-01-02 00:00:00,22.7,82,18.0,3.21,7.60,86,90,5.3,0.3047
1,2017-01-02 01:00:00,22.0,82,17.4,3.40,7.92,88,94,5.7,0.3516
2,2017-01-02 02:00:00,21.7,82,17.1,3.81,8.41,87,93,6.4,0.3985
3,2017-01-02 03:00:00,21.7,85,17.8,3.70,8.26,90,97,6.4,0.4454
4,2017-01-02 04:00:00,22.4,88,19.5,3.85,8.50,81,91,6.6,0.4922
5,2017-01-02 05:00:00,22.8,90,20.4,3.59,8.12,77,86,6.5,0.4900
6,2017-01-02 06:00:00,23.8,91,21.4,3.73,8.00,82,90,6.8,0.4386
7,2017-01-02 07:00:00,26.8,91,24.5,4.01,7.91,86,92,6.8,0.3872
8,2017-01-02 08:00:00,28.5,90,26.0,3.81,7.31,87,93,6.9,0.3358
9,2017-01-02 09:00:00,29.8,91,27.4,4.04,7.30,81,89,6.9,0.2844
10,2017-01-02 10:00:00,31.1,90,28.5,4.93,8.21,84,88,8.4,0.2330
11,2017-01-02 11:00:00,32.8,89,29.9,4.30,7.85,91,97,8.4,0.1816
12,2017-01-02 12:00:00,34.5,86,30.8,4.30,7.07,93,98,7.8,0.1645
13,2017-01-02 13:00:00,34.8,87,31.2,4.10,7.53,89,95,7.7,0.1817
14,2017-01-02 14:00:00,34.9,86,31.2,3.91,7.10,93,100,7.1,0.1988
15,2017-01-02 15:00:00,34.1,89,31.2,3.52,6.61,83,93,6.9,0.2160
16,2017-01-02 16:00:00,33.8,90,31.2,4.31,7.58,94,98,7.3,0.2331
17,2017-01-02 17:00:00,33.4,92,31.2,4.12,7.35,96,102,7.4,0.2503
18,2017-01-02 18:00:00,33.2,91,30.9,3.96,7.03,80,84,7.1,0.2477
19,2017-01-02 19:00:00,33.2,92,31.1,4.30,7.63,93,95,7.3,0.2255

In [10]:
# Add a new colounm to identify the location
location1['Location'] = 'Location1'
location2['Location'] = 'Location1'
location3['Location'] = 'Location3'
location4['Location'] = 'Location4'

#concatenate to dataframe
merged_data = pd.concat([location1,location2,location3,location4], ignore_index=True)
merged_data.head(5656449)

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location
0,2017-01-02 00:00:00,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,Location1
1,2017-01-02 01:00:00,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,Location1
2,2017-01-02 02:00:00,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,Location1
3,2017-01-02 03:00:00,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,Location1
4,2017-01-02 04:00:00,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,Location1
...,...,...,...,...,...,...,...,...,...,...,...
175195,2021-12-31 19:00:00,25.5,94,24.0,4.01,6.66,4,8,8.2,0.3417,Location4
175196,2021-12-31 20:00:00,25.3,92,23.2,4.70,7.52,1,5,7.9,0.3342,Location4
175197,2021-12-31 21:00:00,24.9,90,22.5,4.61,7.57,4,8,7.9,0.3267,Location4
175198,2021-12-31 22:00:00,24.9,89,22.1,4.60,7.44,2,6,7.8,0.3192,Location4
175199,2021-12-31 23:00:00,24.9,88,21.8,4.65,7.77,9,12,7.8,0.3117,Location4

In [11]:
# save the merged dataset to a new CSV file
merged_data.to_csv('merged_location.csv', index=False)

In [12]:
# To see the basic information about the dataset
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175200 entries, 0 to 175199
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Time                 175200 non-null  object
 1   temperature_2m       175200 non-null  float64
 2   relativehumidity_2m  175200 non-null  int64
 3   dewpoint_2m          175200 non-null  float64
 4   windspeed_10m        175200 non-null  float64
 5   windspeed_100m       175200 non-null  float64
 6   winddirection_10m    175200 non-null  int64
 7   winddirection_100m   175200 non-null  int64
 8   windgusts_10m        175200 non-null  float64
 9   Power                175200 non-null  float64
 10  Location             175200 non-null  object
dtypes: float64(6), int64(3), object(2)
memory usage: 14.7+ MB

In [13]:
# To check the statistics of Dataset
merged_data.describe()

,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power
count,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000
mean,46.655994,70.155291,36.516241,4.157639,6.879334,201.589446,201.539070,8.038205,0.303429
std,22.012738,17.326678,20.933153,2.012682,3.043964,99.639040,100.683777,3.617488,0.257325
min,-31.200000,9.000000,-36.200000,0.000000,0.000000,1.000000,0.000000,0.500000,0.000000
25%,30.200000,57.000000,21.900000,2.630000,4.700000,130.000000,129.000000,5.300000,0.087700
50%,46.900000,72.000000,36.200000,3.850000,6.680000,211.000000,211.000000,7.600000,0.233100
75%,65.300000,84.000000,54.600000,5.380000,8.800000,288.000000,290.000000,10.300000,0.474200
max,101.700000,100.000000,78.700000,18.530000,24.590000,360.000000,360.000000,29.200000,0.999400

In [14]:
# check the missing values
merged_data.isnull().sum()

Time                   0
temperature_2m         0
relativehumidity_2m    0
dewpoint_2m            0
windspeed_10m          0
windspeed_100m         0
winddirection_10m      0
winddirection_100m     0
windgusts_10m          0
Power                  0
Location               0
dtype: int64

In [15]:
# To check the duplicate rows
merged_data.duplicated().sum()

np.int64(0)

In [16]:
#Encoded the ncategorial variables
merged_data = pd.get_dummies(merged_data,columns=['Location'],drop_first=True)
merged_data.head()

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location_Location3,Location_Location4
0,2017-01-02 00:00:00,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,False,False
1,2017-01-02 01:00:00,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,False,False
2,2017-01-02 02:00:00,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,False,False
3,2017-01-02 03:00:00,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,False,False
4,2017-01-02 04:00:00,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,False,False

In [17]:
merged_data.columns

Index(['Time', 'temperature_2m', 'relativehumidity_2m', 'dewpoint_2m',
       'windspeed_10m', 'windspeed_100m', 'winddirection_10m',
       'winddirection_100m', 'windgusts_10m', 'Power', 'Location_Location3',
       'Location_Location4'],
      dtype='object')

In [18]:
#let's remove time column
merged_data.drop('Time',axis=1,inplace=True)

In [19]:
merged_data.head()

,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location_Location3,Location_Location4
0,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,False,False
1,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,False,False
2,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,False,False
3,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,False,False
4,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,False,False